################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WorkSiteGoggle/CopilotIndices/18.8.1096.64007
/.vs/CopilotSnapshots/347E4B3691858043AC03F63D19006ADC
